#ASDASDASD{
    flex-direction: column;
    justify-content: start;
    background-color: aliceblue;
    max-width: 150px;
    border-bottom:2px solid #039da5;
    padding-right: 5px;
    text-align: center;
    align-items: center;
    z-index: 1;
}
