*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bebas-font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
